---
import Modal from "./Modal.astro";
import "@styles/form.sass";
---

<Modal name="register" title="Register">
  <form class="form register-form">
    <div class="input-group">
      <input
        type="email"
        id="register-email"
        name="email"
        placeholder="Email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      />
      <span class="error-message"></span>
    </div>
    <div class="input-group">
      <input
        type="password"
        id="register-password"
        name="password"
        placeholder="Password"
        required
        minlength="8"
      />
      <span class="error-message"></span>
    </div>
    <div class="input-group">
      <input
        type="password"
        id="register-confirm-password"
        name="confirm-password"
        placeholder="Confirm Password"
        required
        minlength="8"
      />
      <span class="error-message"></span>
    </div>
    <div class="error-message form-error"></div>
    <button type="submit" class="primary button">
      <span class="button-text">Register</span>
      <span class="loading-indicator hidden"></span>
    </button>
  </form>
</Modal>

<style lang="sass">
  .register-form .primary.button
    margin: var(--space-l) auto 0
</style>

<script>
  import { handleFormSubmit } from "@scripts/utils/form";
  document
    .querySelector(".register-form")
    ?.addEventListener("submit", (e: SubmitEvent) => {
      handleFormSubmit(e, "Register");
    });
</script>
